<h2>Issues</h2>
<button mat-flat-button color="primary" routerLink="/issuse/create">Create New</button>
<hr />

<app-generic-list [list]="table">
    <ng-container content>
        <table mat-table [dataSource]="table" class="mat-elevation-z8 table-index">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>
            <ng-container matColumnDef="dateOfIssue">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let element">{{element.dateOfIssue | date}}</td>
            </ng-container>
            <ng-container matColumnDef="projectId">
                <th mat-header-cell *matHeaderCellDef>System Target</th>
                <td mat-cell *matCellDef="let element">{{element.projectId}}</td>
            </ng-container>
            <ng-container matColumnDef="problemStatus">
                <th mat-header-cell *matHeaderCellDef>Problem Status</th>
                <td mat-cell *matCellDef="let element">{{element.problemStatus}}</td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">
                    <a
                        
                        routerLink="/issuse/edit/{{element.id}}"
                        mat-flat-button color="primary"
                    >
                      Edit 
                    </a>
                    <button mat-flat-button color="warn">
                        Delete
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnToDisplay"></tr>
        </table>
    </ng-container>

</app-generic-list>