<mat-toolbar color="primary">
    <span>
        <a mat-button routerLink="">
            <mat-icon>reddit</mat-icon> E-Tracker
            <!-- <mat-icon>user-secret</mat-icon> E-Tracker -->
        </a>
    </span>
    <div>
        <a mat-button routerLink="issues/filter"><mat-icon>search</mat-icon>Search Issues</a>
    </div>
    <div>
        <a mat-button routerLink="">Dashboard</a>
    </div>

    <div>
        <a mat-button routerLink="event">Event</a>
    </div>

    <div>
        <a mat-button routerLink="issuse">Issues</a>
    </div>

    <div>
        <a mat-button routerLink="post">Postes</a>
    </div>

    <div>
        <a mat-button routerLink="login">Logout</a>
    </div>
</mat-toolbar>